{% extends 'base.html' %}

{% block head %}
<title>Live monitor</title>
<style>
        .video-container {
            position: absolute;
            top: 120px;
            bottom: 300px;
            left: 10%;
            width: 80%;
            height: calc(100vh - 250px);
            overflow: hidden;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .video-feed {
            width: 100%; /* Make it fill the container */
            height: 100%; /* Constrain it within the container */
            object-fit: cover; /* Maintain aspect ratio and cover the area */
        }
        .error-message {
            font-size: 24px;
            color: red;
        }
</style>
{% endblock %}

{% block ofbody %}

<div style="min-height: 660px;" class="video-container" id="video-container">
        <img
            src="https://192.168.179.67:5000/video_feed"
            alt="Live Video Stream"
            class="video-feed"
            id="video-feed"
            onerror="handleError()">
</div>
<!--<div class="video-container" id="video-container">
        <img
            src="http://7c49-152-58-246-15.ngrok-free.app/"
            alt="Live Video Stream"
            class="video-feed"
            id="video-feed"
            onerror="handleError()">
</div>-->

<script>
    function handleError() {
        const container = document.getElementById('video-container');
        container.innerHTML = '<div class="error-message">Device turned off. Video feed unavailable.</div>';
    }
</script>

{% endblock %}