.no-lap{
    display: none;
}
form {
    margin: 0;
    padding: 0;
    display: contents;
}
html, body {
    background-color: #d8f9ff;
    position: relative;
    margin: 0;
    border: none;
    padding: 0;
    min-height: 782.4px;
    display: flex;
    flex-direction: column;
}
.all-wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.headtop{
    display: block;
    font-family: SignwoodItalic;
    top: 0;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 30px;
    position: absolute;
    background-color: black;
    color: white;
    text-align: center;
    z-index: 10;
}
.headtop p{
    padding-top: 7px;
}
header {
    background-color: none;
    display: flex;
    align-items: center;
    position: absolute;
    top: 30px;
    left: 0;
    width: 100%;
    height: 80px;
    z-index: 10;
    transition: opacity 0.5s ease-in-out;
}
.scrolled header{
    position: fixed;
}
header img{
    margin: 0;
}
.btnH {
    background-color: #add8e6;
    border: none;
    color: black;
    text-align: center;
    text-decoration: none;
    width: 100%;
    top: 30px;
    display: inline-flex;
    height: 80px;
    opacity: 1;
    transition: opacity 0.8s ease-in-out;
}
.btnH:hover{
    background-color: #add8e6;
    transition: background-color 0.3s ease-in-out, opacity 0.3s ease-in-out;
}
.header-search {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.header-search button{
    background: none;
    background-color: none;
    color: black;
    border: none;
    font-family: inherit;
    font-size: large;
    margin: 0;
}
.header-search button:hover{
    background: none;
    background-color: none;
    color: black;
    border: none;
}
.header-search .search-bar{
    background-color: white;
    position: absolute;
    display: none;
    top: 150%;
    right: 0;
    width: 400%;
    height: 100%;
}
.scrolled .headtop{
    transform: translateY(-100%);
    transition: transform 0.2s ease-in-out;
}
.scrolled .btnH{
    background-color: #f0ffff;
    top: 0;
    opacity: 1;
}
main {
    display: block;
    margin-top: 40px;
    margin-bottom: 0;
}
h1x{
    font-family: Bigfish;
    font-size: xxx-large;
}
h2x{
    font-family: TFNukes;
    font-size: xxx-large;
}
.space-around{
    padding:2rem;
}
header h1x{
    border: none;
}
header h1x:hover{
    color: rgb(124, 5, 154);
    border-radius: 5px;
}
.loginfill{
    min-height: 74.4vh;
}
.cartfill{
    min-height: 55.2vh;
}
.header-btns {
    margin-left: 1148px;
    color: #46483D;
    border-radius: 5px;
    display: inline;
}
.small-size{
    width: 100px;
    height: 100px;
    margin: 0;
}
navigation{
    font-family: JuliettBold;
    font-size: 25px;
}
navigation li{
    display: inline-block;
    margin-right: 2rem;
}
navigation div{
    display: inline-block;
    font-size: larger;
}
navigation li:hover{
    color: rgb(124, 5, 154);
    background-color: rgba(white, 1);
}
navigation img:hover{
    opacity: 0.8;
}
navigation a{
    opacity: 0;
}
.btnH:hover navigation a{
    opacity: 1;
    transition: opacity 0.3s ease-in-out;
}
.scrolled .btnH navigation ul li a{
    opacity: 1;
}
title{
    text-align: left;
}
hm1{
    text-shadow: #46483D;
    font-family: MangabeyRegular;
    font-size: xx-large;
    padding: 100px;
    margin-top: 50px;
}
body ol{
    display: grid;
}
button {
    background-color: #f0f0f0;
    border-color: #31322c;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
    width: auto;
    box-shadow: inset;
    background: #000000;
    color: #fff;
}
button:hover {
    background-color: #494949;
  }
navigation ol,ul,dl {
    text-align: center;
    list-style-type: none;
    display: flex;
}
.to_right{
    display: inline-block;
    right: auto;
}
.middle_align{
    display: block;
    margin: auto;
    text-align: center;
    align-items: center;
    align-self: center;
}
.left_align{
    left: 0;
    margin: 0;
    height: 30px;
    width: 100%;
    display: block;
    text-align: left;
    align-items: left;
    align-self: left;
}
.right_align{
    right: 0;
    text-align: right;
}
box {
    display: block;
    overflow: hidden;
    width: 200px;
    height: 100px;
    text-align: center;
    font: italic;
    font-size: larger;
    text-decoration: underline;
}
box li{
    display: inline-flexbox;
}
.dropdown {
    position: absolute;
    display: inline-block;
    opacity: 1;
}
.dropdown a {
    color: #000000;
    text-decoration: none;
    padding: 12px 16px;
    display: inline-block;
}
.dropdown-content {
    width: 97%;
    display: none;
    position: absolute;
    top: 0;
    left: -40px;
    right: 0;
    color: #000000;
    background-color: #f0ffff;
    padding: 12px 16px;
    box-sizing: border-box;
    transform: translateX(calc(-50% + 50vw));
}
.dropdown-container:hover .dropdown-content {
    display: inline-block;
    left: 0;
    top: 80%;
    z-index: 100;
}
.dropdown-content-left{
    width: 45%;
    align-items: left;
}
.dropdown-content-left a{
    align-self: left;
    left: 0;
    text-align: left;
}
.dropdown-content-right{
    width: 45%;
    align-items: right;
}
.dropdown-content-right a{
    align-self: right;
    right: 0;
    text-align: right;
}
.dropdown-content a {
    width: 100%;
    font-size: 30px;
    padding: 12px 16px;
    text-decoration: none;
    display: grid;
    left: 0;
}
.dropdown-content a:hover {
    background-color: #919191;
}
.dropdown-container{
    font-size: inherit;
    padding: 0;
    top: 0;
    bottom: 0;
    margin-bottom: 0;
}
input[type=text], input[type=email] {
    width: 200px;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    background-color: #ababab;
    color: #000000;
    border-radius: 5px;
}
input[type=date] {
    width: 200px;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    background-color: #ababab;
    color: #000000;
    border-radius: 5px;
}
input[type=password] {
    width: 200px;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    background-color: #ababab;
    color: #000000;
    border-radius: 5px;
}
input[type=submit] {
        border: none;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        border-radius: 5px;
}
.btn {
    cursor: pointer;
    border: none;
    background-color: cadetblue;
    border-radius: 5px;
}
input[type="submit"].btn:hover {
    background-color: teal;
    transition: 0.3s;
    color:  rgb(163, 223, 223);
    border-radius: 5px;
}
input::placeholder {
    color: #3e3e3e;
}
form {
    margin-left: 700px;
    margin-top: -400px;
}
a{
    color: inherit;
    text-decoration: none;
}
.right-margined{
    margin-right: 20px;
}
span {
    width: 25px;
    height: 25px;
    display: inline-flex;
}
#icon{
    width:40px;
    height: 40px;
    margin-right: 20px;
    padding-right: 20px;
    padding-left: 20px;
    border: 0;
    display: inline-flex;
}
#icon2{
    width: 25px;
    height: 25px;
    margin-right: 20px;
    padding-right: 20px;
    padding-left: 20px;
    border: 0;
    display: inline-flex;
}
#small-icon{
    width: 30px;
    height: 30px;
    margin: 0;
    padding: 0;
    border: 0;
    display: inline-flex;
}
#logo {
    width: 120px;
    height: 72px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    display: inline-flex;
    transition: filter 0.3s;
    align-items: center;
    justify-content: center;
}
#bg {
    min-width: 400px;
    min-height: 400px;
    margin-left: 200px;
    margin-bottom: -75px;
}
.purple:hover{
    background-color: purple;
    color: purple;
}
.hidden{
    display: none;
    pointer-events: none;
}
.invisible{
    opacity: 0;
}
.popup-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
}
.popup {
    display: flex;
    flex-direction: column;
    font-family: Arial, sans-serif;
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 500px;
    transform: translate(-50%, -50%);
    background: #fff;
    color: black;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    text-align: center;
    animation: popup .5s 0s ease forwards;
}
@keyframes popup {
    from {opacity: 0; }
    to{opacity: 1; }
}
.popup-content {
    text-align: center;
}
.popup .close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    cursor: pointer;
    color: #333;
}
.banner {
    text-align: center;
}
.product-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    padding-top: 100px;
}
.product-options {
    margin-top: 20px;
    margin-bottom: 20px;
}
.product-options label {
    display: block;
    margin-top: 10px;
    margin-bottom: 5px;
    font-weight: bold;
}
.option-group{
    width: 50%;
}
.product-options select,
.product-options input {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.product-buttons {
    display: flex;
    gap: 20px;
    width: 100%;
}
.product-buttons form {
    flex: 1;
    display: flex;
    justify-content: center;
}
.product-buttons button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.product-buttons .add-to-cart {
    background-color: green;
    color: white;
}
.product-buttons .add-to-cart:hover {
    background-color: rgb(166, 166, 166);
    color: white;
}
.product-buttons .buy-now {
    background-color: blue;
    color: white;
}
.product-buttons .buy-now:hover {
    background-color: rgb(166, 166, 166);
    color: white;
}
.product-image {
    flex: 1;
    min-width: 300px;
    max-width: 600px;
    padding: 20px;
}

.product-image img {
    width: 100%;
    height: auto;
    border: 1px solid #ccc;
    border-radius: 8px;
}
.product-details {
    flex: 1;
    min-width: 300px;
    max-width: 600px;
    padding: 20px;
}
.featured-products {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    padding: 20px;
    position: relative;
    color: black;
}
.products {
    display: inline-block;
    height: 100%;
}
.product {
    position: relative;
    width: 23%;
    margin-bottom: 20px;
    background-color: white;
    overflow: hidden;
}
.product img {
    width: 100%;
    height: auto;
    transition: transform .2s;
}
.home-product-description {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    opacity: 0;
    transform: translateX(-100%);
    transition: transform .2s, opacity .2s;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.product:hover .home-product-description {
    opacity: 1;
    transform: translateX(0);
}
.product img {
    width: 100%;
}
.marginbottom100{
    margin-bottom: 100px;
}
.border{
    border: solid black;
}
.product button{
    opacity: 0;
    margin-bottom: 20px;
}
.product:hover{
    z-index: 3;
}
.product:hover button{
    opacity: 1;
}
.featured-products li{
    display: inline-block;
    transition: transform .2s;
}
.featured-products li:hover{
    transform: scale(1.2);
}
.review-section{
    display: block;
    width: 90%;
    height: 100px;
    margin: auto;
    margin-bottom: 250px;
    border-radius: 8px;
}
.review-section textarea {
    display: flex;
    width: 100%;
    height: 100px;
    margin-bottom: 10px;
    border: 1px solid rgb(100, 100, 100);
    padding-right: 30px;
    border-radius: 4px;
    box-sizing: border-box;
    resize: none;
}
.review-section .input-wrapper {
    width: 100%;
    position: relative;
}
.review-section button {
    background-color: rgb(90, 90, 90);
    position: absolute;
    right: 20px;
    bottom: 60px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
.review-section button:hover {
    background-color: rgb(60, 60, 60);
}
.counter {
    position: absolute;
    width: 50px;
    margin-right: 30px;
    border: none;
    background: none;
}
.navigation-button {
    text-align: left;
    position: relative;
}
.display-right{
    position:absolute;
    top:50%;
    right:0%;
    transform:translate(0%,-50%);
    -ms-transform:translate(0%,-50%)
}
.display-left{
    position:absolute;
    top:50%;
    left:0%;
    transform:translate(0%,-50%);
    -ms-transform:translate(0%,-50%)
}
.dot {
    cursor: pointer;
    margin: 0 2px;
    display: inline-block;
}
.active{
    background-color: #717171;
    opacity: 1;
    z-index: 5;
}
.slider-container {
  width: auto;
  height: 750px;
  overflow: hidden;
  position: relative;
  top: 30px;
}
.slider-container .active{
    z-index: 5;
}
.slider-image {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  transition: transform 0.5s ease-in-out;
}
.control-button {
  position: absolute;
  top: 50%;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  cursor: pointer;
  z-index: 9;
}
.padding0{
    padding: 0;
}
.margin0{
    margin: 0;
}
.padding100{
    padding: 100px;
}
.paddingtop100{
    padding-top: 100px;
}
.paddingtop150{
    padding-top: 150px;
}
.paddingbottom100{
    padding-bottom: 100px;
}
.left {
  left: 0;
}
.right {
  right: 0;
}
.profile-container{
    min-height: 55.2vh;
    margin-top: 150px;
    display: inline-flex;
    flex-direction: horizontal;
    border: rgb(197, 189, 199);
}
.profile-photo img{
    width: 200px;
    height: 200px;
    padding: 20px;
}
.profile-info{
    left: 100px;
    display: block;
}
.profile-update{
    display: none;
    z-index: 20;
}
.profile-update button{
    display: inline-flex;
    flex-direction: horizontal;
}
.profile-update-overlay{
    position: absolute;
    display: none;
    z-index: 19;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
}
.cart-container{
    margin-top: 150px;
    display: inline-flex;
    flex-direction: horizontal;
    position: relative;
    width: 100%;
    height: auto;
    margin-bottom: 150px;
}
.cart-recipt{
    display: block;
    position: relative;
    width: 28%;
    min-height: 80%;
    padding: 20px;
    margin: 10px;
    border: solid black;
    border-radius: 8px;
}
.cart-recipt p{
    display: block;
    width: 100%;
}
.cart-recipt .proceed-buttons{
    display: inline-flex;
    width: 100%;
    margin-bottom: 20px;
    padding: 10px;
}
.cart-items{
    display: inline-flex;
    flex-direction: column;
    width: 57%;
    margin: 10px;
    margin-left: 50px;
    margin-right: 50px;
}
.cart-element{
    max-height: 120px;
    display: inline-flex;
    border: solid black;
    border-radius: 8px;
    width: 100%;
    left: 0;
    margin-bottom: 10px;
}
.cart-quantity{
    display: inline-flex;
    right: 0;
    margin-right: 50px;
}
.cart-quantity p{
    border: solid rgb(110, 110, 110);
    border-radius: 6px;
    margin: 0;
    height: 27px;
    padding-left: 12px;
    padding-right: 12px;
    font-size: 25px;
}
.cart-quantity button{
    width: 30px;
    height: 30px;
    margin-right: 5px;
    margin-left: 5px;
    margin-top: auto;
    margin-bottom: auto;
}
.cart-container .cart-element img{
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 10px;
    width: 100px;
    height: 100px;
}
.alert {
    padding: 20px;
    background-color: rgb(197, 189, 199);
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    top: 90px;
    z-index: 999;
}
.closebtn {
    left: 0;
    top: 0;
    margin-left: 0;
    margin-right: 10px;
    color: black;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}
.closebtn:hover {
  color: black;
}
.about-company-container{
    display: block;
    position: relative;
    width: 100%;
    height: auto;
}
.about-company-container h1{
    top: 0;
    width: 100%;
    font-size: 50px;
    font-family: Signwood;
    color: white;
    background-color: black;
    margin: 0;
    padding: 0;
}
.about-company-container h1 p{
    margin: 0;
    padding: 0;
}
.about-company-details{
    margin: 20px;
    width: 90%;
    font-family: JuliettReg;
    font-size: 25px;
    text-align: centre;
}
.about-company-details p{
    left: 30px;
}
.aboutus-container {
    position: relative;
    display: block;
    height: 770px;
    overflow: hidden;
    z-index: 1;
    width: 90%;
    margin-bottom: 200px;
}
.pfp-bar {
    display: inline-flex;
    flex-direction: horizontal;
    height: auto;
    width: 100%;
    margin-bottom: 100px;
}
.pfp-container {
    width: 25%;
    height: 100%;
}
.aboutus-circle-pfp {
    border-radius: 200px;
    max-height: 200px;
    max-width: 200px;
}
.aboutus-details-frame {
    display: inline-flex;
    flex-direction: horizontal;
    height: 400px;
    position: absolute;
    top: 350px;
    left: 0.5%;
    width: 99%;
    border: solid black;
    margin: 0;
    transform: translateX(100%);
    transition: transform 0.8s ease-in-out, opacity 0.8s ease-in-out;
    opacity: 0;
    z-index: 91;
    background-color: #BCB2A9;
}
.aboutus-container button{
    opacity: 0.5;
    font-size: 20px;
    border: none;
    color: white;
}
.aboutus-container button:hover{
    opacity: 1;
}
.aboutus-container .description-right-button,
.aboutus-container .description-left-button {
    position: absolute;
    top: 70%;
    width: auto;
    z-index: 91;
}
.aboutus-container .description-right-button {
    right: 0.5%;
}

.aboutus-container .description-left-button {
    left: 0.5%;
}
.aboutus-details-frame.visible {
    opacity: 1;
    z-index: 90;
}
.details-pfp .aboutus-circle-pfp{
    position: absolute;
    left: 0;
    min-height: 400px;
    max-height: 400px;
    max-width: 400px;
    border-radius: 0;
    z-index: 2;
}
.details-details{
    position: absolute;
    top: 10px;
    left: 420px;
    margin-right: 30px;
    text-align: left;
    z-index: 2;
}
.marquee2 {
    white-space: nowrap;
    max-height: 150px;
    margin-bottom: 30px;
    width: 100%;
    overflow: hidden;
    background-color: black;
    color: white;
    white-space: nowrap;
    box-sizing: border-box;
}
.marquee2 p{
    margin: 0;
    display: inline-block;
    padding-left: 100%;
    animation: scrollminus2 10s infinite linear;
}
.headtop .marquee2 p:hover{
    animation-play-state: paused;
}
.marquee {
    white-space: nowrap;
    max-height: 150px;
    margin-top: 40px;
    width: 100%;
    overflow: hidden;
    background-color: white;
    color: black;
    white-space: nowrap;
    box-sizing: border-box;
}
.marquee p {
    margin: 0;
    display: inline-block;
    padding-left: 100%;
    animation: scrollplus 10s infinite linear;
}
.marquee h1x, .marquee2 h1x{
    font-size: 70px;
}
@keyframes scrollminus2 {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-100%);
    }
}
@keyframes scrollminus {
    0% {
        transform: translateX(0);
    }
    50% {
        transform: translateX(-50%);
    }
    100% {
        transform: translateX(-100%);
    }
}
@keyframes scrollplus {
    0% {
        transform: translateX(-100%);
    }
    50% {
        transform: translateX(-50%);
    }
    100% {
        transform: translateX(0);
    }
}
.sidebar, .sidebar2, .sidebar3 {
    position: absolute;
    top: 30px;
    left: -350px;
    width: 350px;
    height: 100%;
    /*background-color: #464646;*/
    background-color: #f5f5f5;
    color: black;
    overflow: auto;
    transition: left 0.3s ease-in-out;
    z-index: 100;
}
.sidebar.active, .sidebar2.active, .sidebar3.active {
    left: 0;
}
.sidebar2, .sidebar3{
    display: block;
}
.sidebar2 ul, .sidebar3 ul{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
}
.sidebar2 ul li, .sidebar3 ul li {
    display: flex;
    flex-direction: column;
    width: 100%;
    border-bottom: solid black;
    padding-top: 100px;
    overflow: hidden;
}
.sidebar ul {
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 0;
    width: 100%;
    list-style: none;
    margin-top: 65px;
    overflow: hidden;
}
.sidebar ul li {
    width: 100%;
    left: 0;
    margin: 0;
    padding-left: 0;
    border-bottom: solid black;
    padding-top: 50px;
    overflow: hidden;
    box-sizing: border-box;
}
.sidebar ul li a, .sidebar2 ul li a, .sidebar3 ul li a {
    display: inline-block;
    width: 100%;
    left: 0;
    text-decoration: none;
    font-size: 30px;
    box-sizing: border-box;
}
.sidebar ul li a:hover, .sidebar2 ul li a:hover, .sidebar3 ul li a:hover {
    transform: scale(1.2);
    transform-origin: center;
    background-color: #464646;
    color: white;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out, transform 0.3s ease-in-out;
    cursor: pointer;
}
.scrolled .sidebar, .scrolled .sidebar2, .scrolled .sidebar3{
    top: 0;
    position: fixed;
}
.sidebar .sidebar-close, .sidebar2 .sidebar-close, .sidebar3 .sidebar-close{
    background-color: none;
    border: solid black;
    border-width: thin;
    color: black;
    position: absolute;
    left: 20%;
    top: 30px;
    z-index: 101;
}
.sidebar button, .sidebar2 button, .sidebar3 button{
    background-color: white;/*#323232;*/
    border: solid black;
}
.overlay {
    position: absolute;
    top: 30px;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: none;
    z-index: 99;
}
.scrolled .overlay{
    position: fixed;
    top: 0;
}
.sidebar-dropdown-container{
    display: none;
    left: 0;
}
.sidebar-dropdown button{
    font-size: 25px;
}
footer {
    display: block;
    width: 100%;
    height: 150px;
    background-image: url("footer-bg.png");
    text-align: center;
    color: #f0f0f0;
    position: absolute;
    bottom: 0;
    margin-bottom: 0;
    padding: 0;
    box-sizing: border-box;
}
.footer-container{
    position: absolute;
    bottom: 0;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    margin-bottom: 0;
    padding: 0;
    box-sizing: border-box;
}
.footer-element{
    display: flex;
    flex-direction: column;
    width: 20%;
    height: auto;
    margin: 0;
    padding: 0;
    justify-content: center;
}
@font-face {
    font-family: Bigfish;
    src: url(fonts/Bigfish.otf);
}
@font-face {
    font-family: IronWoodReg;
    src: url(fonts/Ironwood-Regular.otf);
}
@font-face {
    font-family: KCDeathBolt;
    src: url(fonts/KCDeathBolt.otf);
}
@font-face {
    font-family: MonsterWedah;
    src: url(fonts/Monster-Wedah.otf);
}
@font-face {
    font-family: Pulsewidth;
    src: url(fonts/Pulsewidth-1.0.0.otf);
}
@font-face {
    font-family: SioByLunasa;
    src: url(fonts/SioByLunasa.otf);
}
@font-face {
    font-family: TFNukes;
    src: url(fonts/TF-Nukes.otf);
}
@font-face {
    font-family: TheLittleMermaid;
    src: url(fonts/TheLittleMermaidMedium-7BMdK.ttf);
}
@font-face {
    font-family: Nintendo;
    src: url(fonts/RoSpritendoSemiboldBeta-vmVwZ.otf);
}
@font-face {
    font-family: Signwood;
    src: url(fonts/Signwood-vnvD7.ttf);
}
@font-face {
    font-family: SignwoodItalic;
    src: url(fonts/SignwoodItalic-2v1Jl.ttf);
}
@font-face {
    font-family: JuliettReg;
    src: url(fonts/JuliettRegular-WyXyG.ttf);
}
@font-face {
    font-family: JuliettItalic;
    src: url(fonts/JuliettItalic-eZDZl.ttf);
}
@font-face {
    font-family: JuliettBold;
    src: url(fonts/JuliettBold-4BaBl.ttf);
}
@font-face {
    font-family: JuliettBoldItalic;
    src: url(fonts/JuliettBoldItalic-0W4WP.ttf);
}
@font-face{
    font-family: MangabeyRegular;
    src: url(fonts/MangabeyRegular-rgqVO.otf)
}
@font-face{
    font-family: OperationNapalm;
    src: url(fonts/OperationNapalm-nRBWO.ttf)
}
@media (max-width: 1080px){
    .yes-1080px{
        display: inherit;
    }
    .no-1080px{
        display: none;
    }
    .review-section{
        display: block;
        margin-top: 200px;
    }
}
@media (max-width: 1000px) {
    .no-lap{
        display: inherit;
    }
    .no-mob{
        display: none;
    }
    .sidebar ul li a, .sidebar2 ul li a, .sidebar3 ul li a{
        font-size: 15px;
    }
    navigation{
        margin-right: 0;
        padding-right: 0;
        border: none;
    }
}
@media (max-width: 480px) {
    *{
        margin: 0;
        padding: 0;
    }
    .no-lap{
        display: inherit;
    }
    .no-mob{
        display: none;
    }
    html, body{
        min-height: 100vh;
    }
    h1{
        font-size: x-large;
    }
    .headtop{
        height: 20px;
        font-size: xx-small;
    }
    .btnH {
        top: 20px;
        width: 100%;
        height: 50px;
    }
    .header-search {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }
    .header-search button{
        background: none;
        background-color: none;
        color: black;
        border: none;
        font-family: inherit;
        font-size: 10px;
        margin: 0;
    }
    .header-search button:hover{
        background: none;
        background-color: none;
        color: black;
        border: none;
    }
    .header-search .search-bar{
        background-color: white;
        position: absolute;
        display: none;
        top: 130%;
        right: -15px;
        width: 600%;
        height: 100%;
    }
    .right-margined{
        margin-right: 1px;
    }
    navigation{
        font-size: 10px;
        width: auto;
        margin: 0;
        padding: 0;
    }
    navigation li{
        height: 10px;
        width: auto;
        font-size: 10px;
        margin-right: 0;
    }
    button{
        font-size: 10px;
        width: auto;
    }
    .dropdown{
        margin: 0;
        padding: 0;
    }
    .dropdown a{
        margin-right: 10px;
        margin-left: 10px;
        padding: 0;
    }
    #logo{
        height: 40px;
        width: auto;
        margin-top: 15px;
        margin-bottom: 5px;
    }
    #icon{
        height: 20px;
        width: 20px;
        margin: 0;
        margin-right: 10px;
        padding: 0;
        left: 0;
    }
    #icon2{
        height: 15px;
        width: 15px;
        margin: 0;
        margin-left: 10px;
        padding: 0;
        left: 0;
    }
    .popup {
        min-width: 300px;
        padding: 10px;
    }
    .cartfill{
        min-height: 100vh;
    }
    .cart-container{
        margin-top: 90px;
        margin-left: 0;
        margin-right: 0;
        margin-bottom: 90px;
        display: inline-flex;
        flex-direction: horizontal;
        width: 100%;
    }
    .cart-recipt{
        display: block;
        min-height: 200px;
        width: 25%;
        border: solid black;
        border-radius: 8px;
        margin: 5px;
    }
    .cart-recipt p{
        display: block;
        width: 100%;
        font-size: 10px;
    }
    .cart-recipt .proceed-buttons{
        position: relative;
        display: inline-flex;
        width: 100%;
        margin-bottom: 20px;
        gap: 10px;
    }
    .cart-recipt .proceed-buttons button{
        left: 10px;
        padding: 0;
        margin: 0;
    }
    .cart-items{
        display: inline-flex;
        flex-direction: column;
        margin: 5px;
    }
    .cart-element{
        max-height: 120px;
        display: inline-flex;
        border: solid black;
        border-radius: 8px;
        width: 100%;
        left: 0;
        margin-bottom: 10px;
    }
    .cart-quantity{
        display: inline-flex;
        right: 0;
        margin-right: 50px;
    }
    .cart-quantity p{
        border: solid rgb(110, 110, 110);
        border-radius: 4px;
        margin: 0;
        height: 12px;
        padding-left: 3px;
        padding-right: 3px;
        font-size: 10px;
    }
    .cart-quantity button{
        margin-top: auto;
        margin-bottom: auto;
    }
    .cart-container .cart-element img{
        margin-top: auto;
        margin-bottom: auto;
        margin-left: 0;
        width: 60px;
        height: 60px;
    }
    .product {
        height: auto;
        width: 48%;
        padding: 1px;
        margin-bottom: 30px;
    }
    .product-buttons {
        display: flex;
        flex-direction: column;
        gap: 20px;
        width: 100%;
    }
    .product-buttons form {
        width: 100%;
    }
    .product-buttons button {
        width: 100%;
        padding: 10px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        box-sizing: border-box;
    }

    .product-buttons .add-to-cart {
        background-color: green;
        color: white;
    }
    .product-buttons .add-to-cart:hover {
        background-color: rgb(166, 166, 166);
        color: white;
    }
    .product-buttons .buy-now {
        background-color: blue;
        color: white;
    }
    .product-buttons .buy-now:hover {
        background-color: rgb(166, 166, 166);
        color: white;
    }
    .review-section{
        display: block;
        margin-top: 250px;
        margin-bottom: 100px;
    }
    .review-section textarea {
        display: block;
        width: 100%;
        height: 100px;
        margin-bottom: 10px;
        border: 1px solid rgb(100, 100, 100);
        padding-right: 30px;
        border-radius: 4px;
        box-sizing: border-box;
        resize: none;
    }
    .review-section .input-wrapper {
        width: 100%;
        position: relative;
    }
    .review-section button {
        background-color: rgb(90, 90, 90);
        position: absolute;
        right: 20px;
        bottom: 60px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
    }
    .review-section button:hover {
        background-color: rgb(60, 60, 60);
    }
    .product-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: flex-start;
        padding-top: 100px;
    }
    .product-options {
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .product-options label {
        display: block;
        margin-top: 10px;
        margin-bottom: 5px;
        font-weight: bold;
    }
    .option-group{
        width: 50%;
    }
    .product-options select,
    .product-options input {
        width: 100%;
        padding: 8px;
        margin-bottom: 10px;
        border: 1px solid #ccc;
        border-radius: 4px;
    }

    .product-buttons {
        display: flex;
        gap: 20px;
        width: 100%;
    }
    .product-buttons form {
        flex: 1;
        display: flex;
        justify-content: center;
    }
    .product-buttons button {
        width: 100%;
        padding: 10px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
    }

    .product-buttons .add-to-cart {
        background-color: green;
        color: white;
    }
    .product-buttons .add-to-cart:hover {
        background-color: rgb(166, 166, 166);
        color: white;
    }
    .product-buttons .buy-now {
        background-color: blue;
        color: white;
    }
    .product-buttons .buy-now:hover {
        background-color: rgb(166, 166, 166);
        color: white;
    }
    .product-image {
        flex: 1;
        min-width: 300px;
        max-width: 600px;
        padding: 20px;
    }

    .product-image img {
        width: 100%;
        height: auto;
        border: 1px solid #ccc;
        border-radius: 8px;
    }

    .product-details {
        flex: 1;
        min-width: 300px;
        max-width: 600px;
        padding: 20px;
    }
    .profile-container{
        margin-top: 150px;
        display: flex;
        flex-direction: column;
        border: rgb(197, 189, 199);
    }
    .profile-photo img{
        width: 200px;
        height: 200px;
        padding: 20px;
    }
    .profile-info{
        margin-left: 50px;
        display: block;
    }
    .profile-info p{
        margin-bottom: 10px;
    }
    .slider-container{
        top: 20px;
        height: 200px;
        width: 100%;
        margin-bottom: 30px;
    }
    .slider-container button{
        height: 20px;
        width: 20px;
        padding: 0;
    }
    .loginfill{
        bottom: 0;
    }
    .alert {
        font-size: 9px;
        padding: 0;
        background-color: rgb(197, 189, 199);
        color: black;
        display: block;
        top: 70px;
        margin-left: 100px;
        position: fixed;
        z-index: 25;
    }
    .aboutus-container {
        position: relative;
        display: block;
        height: 360px;
        font-size: 10px;
        overflow: hidden;
        z-index: 1;
        width: 100%;
        margin-bottom: 120px;
    }
    .pfp-bar {
        display: inline-flex;
        flex-direction: horizontal;
        height: 25px;
        width: 100%;
        margin-bottom: 100px;
    }
    .pfp-container {
        width: 25%;
        height: 100px;
    }
    .aboutus-circle-pfp {
        border-radius: 90px;
        max-height: 90px;
        max-width: 90px;
    }
    .aboutus-details-frame {
        display: inline-flex;
        flex-direction: horizontal;
        height: 200px;
        position: absolute;
        top: 150px;
        left: 0.5%;
        width: 99%;
        border: solid black;
        margin: 0;
        transform: translateX(100%);
        transition: transform 0.8s ease-in-out, opacity 0.8s ease-in-out;
        opacity: 0;
        z-index: 91;
    }
    .aboutus-container button{
        font-size: 10px;
        opacity: 0.5;
    }
    .aboutus-container button:hover{
        opacity: 1;
    }
    .aboutus-container .description-right-button,
    .aboutus-container .description-left-button {
        position: absolute;
        top: 70%;
        width: auto;
        z-index: 91;
    }
    .aboutus-container .description-right-button {
        right: 0.5%;
    }

    .aboutus-container .description-left-button {
        left: 0.5%;
    }
    .aboutus-details-frame.visible {
        opacity: 1;
        z-index: 90;
    }
    .details-pfp .aboutus-circle-pfp{
        position: absolute;
        left: 0;
        min-height: 200px;
        max-height: 200px;
        max-width: 150px;
        border-radius: 0;
        z-index: 2;
    }
    .details-details{
        position: absolute;
        top: 10px;
        left: 160px;
        margin-right: 30px;
        text-align: left;
        z-index: 2;
        font-size: 6px;
    }
    .details-details h1x{
        font-size: 30px;
        margin-bottom: 50px;
    }
    .sidebar, .sidebar2, .sidebar3 {
        position: absolute;
        top: 20px;
        left: -250px;
        width: 250px;
        height: 100%;
        /*background-color: #464646;*/
        background-color: #fff;
        color: black;
        overflow: auto;
        transition: left 0.3s ease-in-out;
        z-index: 100;
    }
    .sidebar.active {
        left: 0;
    }
    .sidebar2.active {
        left: 0;
    }
    .sidebar3.active {
        left: 0;
    }
    .sidebar2, .sidebar3{
        display: block;
    }
    .sidebar2 ul, .sidebar3 ul{
        margin-top: 50px;
    }
    .sidebar ul, .sidebar2 ul, .sidebar3 ul {
        display: flex;
        flex-direction: column;
        width: 250px;
        list-style: none;
        padding: 0;
        margin: 0;
        margin-top: 50px;
    }
    .sidebar ul li, .sidebar2 ul li, .sidebar3 ul li {
        display: flex;
        flex-direction: column;
        width: 100%;
        border-bottom: solid black;
        padding-top: 50px;
        overflow: hidden;
    }
    .sidebar ul li a {
        display: inline-block;
        width: 100%;
        color: black;
        text-decoration: none;
        font-size: 15px;
    }
    .sidebar ul li a:hover, .sidebar2 ul li a:hover, .sidebar3 ul li a:hover {
        transform: scale(1.2);
        background-color: white;
        color: black;
        transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out, transform 0.3s ease-in-out;
        cursor: pointer;
    }
    .scrolled .sidebar, .scrolled .sidebar2, .scrolled .sidebar3{
        top: 0;
        position: fixed;
    }
    .sidebar-dropdown-container{
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    .sidebar-dropdown button{
        width: 100%;
        font-family: inherit;
        font-size: 10px;
    }
    .sidebar-close{
        background-color: none;
        border: none;
        color: white;
        position: absolute;
        left: 15%;
        top: 20px;
        z-index: 101;
    }
    .sidebar button, .sidebar2 button, .sidebar3 button{
        background-color: #323232;
    }
    .overlay{
        position: absolute;
        top: 20px;
    }
    .scrolled .overlay{
        position: fixed;
        top: 0;
    }
    footer{
        height: 60px;
        font-size: 9px;
        width: 100%;
        bottom: 0;
    }
}