{% extends 'base.html' %}

{% block head %}
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Admin tools</title>
{% endblock %}
{% block ofbody %}
        <section class="headtop middle_align" style="height: 60px;">
            <span style="width: 100%;">
                <p style="width: 100%;">Configure website</p>
            </span>
        </section>
        <div style="margin-top: 200px;"></div>
        <div class="featured-products">
            <div class="product">
                <img src="../media/database.png" alt="database"/>
                <div class="home-product-description">
                    <p>Configure database</p>
                </div>
            </div>
            <div class="product">
                <img src="../media/2" alt="2"/>
                <div class="home-product-description">
                    <p>Configure 2</p>
                </div>
            </div>
            <div class="product">
                <img src="../media/3" alt="3"/>
                <div class="home-product-description">
                    <p>Configure 3</p>
                </div>
            </div>
        </div>
{% endblock %}